{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
        <h2>Mail interface </h2>
        <div>{{form(form)}} </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">envoyer</button>
{% endblock %}
